<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="r3cpg_body">
  
  <xacro:macro name="body">
    <link
      name="base_link">
      <inertial>
        <origin
          xyz="3.16587034365767E-17 -1.82145964977565E-17 -0.0227442289486721"
          rpy="0 0 0" />
        <mass
          value="0.527360725339934" />
        <inertia
          ixx="0.00167039431330097"
          ixy="-3.83248574453312E-06"
          ixz="-5.0821976835258E-20"
          iyy="0.00721954116235271"
          iyz="5.42101086242752E-20"
          izz="0.00861560212772434" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://r3cpg_description/meshes/base_link.stl" />
        </geometry>
        <material name="Grey3" />
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://r3cpg_description/meshes/base_link.stl" />
        </geometry>
      </collision>
    </link>
    <link
      name="leg_base_fr" />
    <joint
      name="leg_base_fr_fixed"
      type="fixed">
      <origin
        xyz="0.121 -0.079 -0.0361"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="leg_base_fr" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="leg_base_fl" />
    <joint
      name="leg_base_fl_fixed"
      type="fixed">
      <origin
        xyz="0.121 0.079 -0.0361"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="leg_base_fl" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="leg_base_rr" />
    <joint
      name="leg_base_rr_fixed"
      type="fixed">
      <origin
        xyz="-0.121 -0.079 -0.0361"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="leg_base_rr" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="leg_base_rl" />
    <joint
      name="leg_base_rl_fixed"
      type="fixed">
      <origin
        xyz="-0.121 0.079 -0.0361"
        rpy="0 0 0" />
      <parent
        link="base_link" />
      <child
        link="leg_base_rl" />
      <axis
        xyz="0 0 0" />
    </joint>
  </xacro:macro>

</robot>